---
layout: header
---

<div id="aboutme"> 
<h3>   </h3>

<div id="picture">
<img src="jo.png" alt="me">
</div>

<div id="basicinfo"> 
Currently a third year student at Harvard. I write <a href="http://www.github.com/joannekoong">code</a>, opt for optimization as a general principle, am a huge fan of <a href="https://github.com/joannekoong/minimalist_blog">minimalist</a> design, and like shopping for running shoes. 
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
Reach me at: &nbsp;&nbsp;&nbsp; joannekoong@college.harvard.edu
</div>
</div>

</body>
</html>